<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/index.html :: header">
</head>
<body>
    <script type="text/javascript" th:src="@{/dev/js/reload_page.js}"></script>
    <section id="main_section">
        <h1>Питомец</h1>

        <section id="pet_section">
            <h2>Взаимодействовать с питомцем</h2>
            <div id="htmlPetControlPanel" th:utext="${htmlPetControlPanel}"></div>

            <h2>Параметры питомца</h2>
            <div id="htmlPet" th:utext="${htmlPet}"></div>
        </section>
    </section>
    <div th:insert="main/index.html :: footer">
    </div>
</body>
</html>