<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/index.html :: header">
</head>
<body>
    <section id="main_section">
        <h1>Создание питомца</h1>

        <form class='service-action-pet-create-from' action='/pet/create/' method='post'>
            <input class="css-input" type="text" name="name" value="" required/>
            <div class="service-action-pet-create-btn btn">Создать питомца</div>
        </form>
    </section>
    <div th:insert="main/index.html :: footer">
    </div>
</body>
</html>