<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/index.html :: header">
</head>
<body>
    <section id="main_section">
        <form class='service-action-pet-create-from' action='/pet/create/' method='post'>
            <input type="text" name="name" value="" required/>
            <div class="service-action-pet-create-btn">Создать питомца</div>
        </form>

        <div th:insert="main/index.html :: footer">
        </div>
    </section>
</body>
</html>